body {
    color: white;
  }
  .right-sidebar {
    background-color: #C6D4FF;
    height: 100vh;
    position: fixed;
    left: 0;
    overflow-y: auto;
  }
  .right-sidebar h3 {
    color: black;
    padding-bottom: 10px;
  }
  img.profile {
    width: 150px;
    margin: 15px auto
  }
  .list-group .list-group-item {
    background-color: transparent;
    border-color: transparent;
  }
  .list-group .list-group-item.active {
    background-color: #337ab7;
    border-color: #337ab7;
  }
  .list-group a.list-group-item {
    font-size: 1.3em;
    text-align: center;
  }
  
  #home {
    background: url('https://static1.squarespace.com/static/534eb383e4b013cdd4cd17a8/t/535af9f6e4b0a4907f93ffde/1424493422361/background-final_web.jpg?format=2500w') center/cover;
  }
  
  .content {
    margin-top: 50px;
  }
  
  .content h1.title {
    text-align: center;
    text-shadow: 0px 3px 5px black;
    margin: 20px auto 40px;
  }
  
  .content .showcase {
    margin-bottom: 30px;
  }
  
  #home h1 {
    font-family: cursive;
    font-weight: 900;
    font-size: 3.5em;
    text-shadow: 0 0 10px black;
  }
  
  #home .button-box {
    margin: 150px 50px;
  }
  
  #experience {
    background: #BD2C01;
  }
  
  #portfollio {
    background: #029D88;
  }
  
  #contact {
    background: #8600BD;
  }
  
  #contact .content {
    margin: 250px auto auto;
  }
  
  #contact .content a {
    font-size: 3em;
    margin: 50px 25px auto;
    color: white;
    text-decoration: none;
  }
  
  .page {
    min-height: 100vh;
  }
  
  .footer-icons {
    font-size: 2em;
  }
  
  .footer-icons a {
    text-decoration: none;
    margin: 2px 10px;
  }
  
  .footer-icons a:hover {
    color: black;
  }